<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
    <h1>中国联通</h1>
    <div>
        <span style="color: red">时间：</span>
        <span>2021-11-11</span>
    </div>
    <div>
        中国联合网络通信集团有限公司（简称“中国联通”）于2009年1月6日由原中国网通和原中国联通合并重组而成，公司在国内31个省（自治区、直辖市）和境外多个国家和地区设有分支机构，拥有覆盖全国、通达世界的现代通信网络，主要经营固定通信业务，移动通信业务，国内、国际通信设施服务业务，数据通信业务，网络接入业务，各类电信增值业务，与通信信息业务相关的系统集成业务等。

        <a href="http://www.chinaunicom.com.cn/about/about.html">点击跳转</a>
        <img style="height: 100px;" src="https://pic4.zhimg.com/v2-b23f984c2aeaa7bed12e890b4338d499_720w.jpg" />
    </div>
    <h2>广西联通分部</h2>
    <div>
        <span style="color: red">时间：</span>
        <span>2021-11-11</span>
    </div>
    <div>
        中国联通是目前唯一一家在集团层面整体进行混合所有制改革试点的中央企业。公司在2021年《财富》世界500强中位列第260位。作为支撑党政军系统、各行各业、广大人民群众的基础通信企业，中国联通在国民经济中具有基础性、支柱性、战略性、先导性的基本功能与地位作用，具有技术密集、全程全网、规模经济、服务经济社会与民生的特征与属性。
        <a href="/get/news">查看更多</a>
        <img style="width: 10%" src="/static/wbq.png" />
    </div>

    <h1>运营商列表</h1>
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>
    <h1>运营商列表</h1>
    <ol>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ol>
    <h1>数据表格</h1>
    <table border="1">
        <thead>
            <tr>  <th>ID</th>  <th>姓名</th>   <th>年龄</th>  </tr>
        </thead>
        <tbody>
            <tr>  <td>10</td>  <td>武沛齐</td>  <td>19</td>   </tr>
            <tr>  <td>11</td>  <td>吴阳军</td>  <td>19</td>   </tr>
            <tr>  <td>12</td>  <td>刘东</td>  <td>19</td>    </tr>
            <tr>  <td>13</td>  <td>郭智</td>  <td>19</td>    </tr>
            <tr>  <td>14</td>  <td>电摩</td>  <td>19</td>    </tr>
        </tbody>
    </table>

    <h1>输入内容</h1>
    <input type="text">
    <input type="password">
    <input type="file">

    <input type="radio" name="n1">男
    <input type="radio" name="n1">女

    <input type="checkbox">篮球
    <input type="checkbox">足球
    <input type="checkbox">乒乓球
    <input type="checkbox">棒球

    <input type="button" value="提交">

    <input type="submit" value="提交">

    <h1>下拉框</h1>
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
    </select>

    <select multiple>
        <option>北京</option>
        <option>上海</option>
        <option>深圳</option>
    </select>
    <h1>多行文本</h1>
    <textarea rows="5"></textarea>
</body>
</html>
