{% extends "base.html" %}
{% block title %}关于我们{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="inner-content">
        <div class="xxdj-report border zycs_text">
            <p><b>商务合作及对外项目合作（媒体公关合作、内容合作、品牌合作及课程团购业务）：</b></p>
            <p>电子邮件：mingrisoft@mingrisoft.com</p>
            <p>联系电话：0431-84978981</p>
            <p>电子邮件：mingrisoft@mingrisoft.com</p>

            <p><b>企业在线培训服务：</b></p>
            <p>电子邮件：mingrisoft@mingrisoft.com</p>
            <p>联系电话：0431-84978981</p>

            <p><b>客户服务：</b></p>
            <p>电子邮件：mingrisoft@mingrisoft.com</p>
            <p>联系电话：0431-84978981</p>
            </p>
        </div>
    </div>
</div>
{% endblock %}

