<div class="iq-sidebar">
         <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="index.html">
            <img src="images/logo.gif" class="img-fluid" alt="">
            <span>Metorik</span>
            </a>
            <div class="iq-menu-bt align-self-center">
               <div class="wrapper-menu">
                  <div class="line-menu half start"></div>
                  <div class="line-menu"></div>
                  <div class="line-menu half end"></div>
               </div>
            </div>
         </div>
         <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
               <ul class="iq-menu">
                  <li class="iq-menu-title"><i class="ri-separator"></i><span>Main</span></li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-home"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="index.html">Dashboard 1</a></li>
                        <li><a href="dashboard1.html">Dashboard 2</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-envelope-open"></i><span>Email</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="app/index.html">Inbox</a></li>
                        <li><a href="app/email-compose.html">Email Compose</a></li>
                     </ul>
                  </li>
                     <li><a href="todo.html" class="iq-waves-effect"><i class="las la-check-square"></i><span>Todo</span></a></li>
                  <li class="active">
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-user-tie"></i><span>User</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="profile.html">User Profile</a></li>
                        <li><a href="profile-edit.html">User Edit</a></li>
                        <li><a href="add-user.html">User Add</a></li>
                        <li class="active"><a href="user-list.html">User List</a></li>
                     </ul>
                  </li>
                  <li><a href="calendar.html" class="iq-waves-effect"><i class="las la-calendar"></i><span>Calendar</span></a></li>
                  <li><a href="chat.html" class="iq-waves-effect"><i class="las la-sms"></i><span>Chat</span></a></li>

                  <li class="iq-menu-title"><i class="ri-separator"></i><span>Components</span></li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="lab la-elementor"></i><span>UI Elements</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="ui-colors.html">colors</a></li>
                        <li><a href="ui-typography.html">Typography</a></li>
                        <li><a href="ui-alerts.html">Alerts</a></li>
                        <li><a href="ui-badges.html">Badges</a></li>
                        <li><a href="ui-breadcrumb.html">Breadcrumb</a></li>
                        <li><a href="ui-buttons.html">Buttons</a></li>
                        <li><a href="ui-cards.html">Cards</a></li>
                        <li><a href="ui-carousel.html">Carousel</a></li>
                        <li><a href="ui-embed-video.html">Video</a></li>
                        <li><a href="ui-grid.html">Grid</a></li>
                        <li><a href="ui-images.html">Images</a></li>
                        <li><a href="ui-list-group.html">list Group</a></li>
                        <li><a href="ui-media-object.html">Media</a></li>
                        <li><a href="ui-modal.html">Modal</a></li>
                        <li><a href="ui-notifications.html">Notifications</a></li>
                        <li><a href="ui-pagination.html">Pagination</a></li>
                        <li><a href="ui-popovers.html">Popovers</a></li>
                        <li><a href="ui-progressbars.html">Progressbars</a></li>
                        <li><a href="ui-tabs.html">Tabs</a></li>
                        <li><a href="ui-tooltips.html">Tooltips</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-file-alt"></i><span>Forms</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="form-layout.html">Form Elements</a></li>
                        <li><a href="form-validation.html">Form Validation</a></li>
                        <li><a href="form-switch.html">Form Switch</a></li>
                        <li><a href="form-chechbox.html">Form Checkbox</a></li>
                        <li><a href="form-radio.html">Form Radio</a></li>
                     </ul>
                  </li>
                  <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-database"></i><span>Forms Wizard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                           <li><a href="form-wizard.html">Simple Wizard</a></li>
                           <li><a href="form-wizard-validate.html">Validate Wizard</a></li>
                           <li><a href="form-wizard-vertical.html">Vertical Wizard</a></li>
                        </ul>
                     </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-table"></i><span>Table</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="tables-basic.html">Basic Tables</a></li>
                        <li><a href="data-table.html">Data Table</a></li>
                        <li><a href="table-editable.html">Editable Table</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-chart-bar"></i><span>Charts</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="chart-morris.html">Morris Chart</a></li>
                        <li><a href="chart-high.html">High Charts</a></li>
                        <li><a href="chart-am.html">Am Charts</a></li>
                        <li><a href="chart-apex.html">Apex Chart</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-icons"></i><span>Icons</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="icon-dripicons.html">Dripicons</a></li>
                        <li><a href="icon-fontawesome-5.html">Font Awesome 5</a></li>
                        <li><a href="icon-lineawesome.html">line Awesome</a></li>
                        <li><a href="icon-remixicon.html">Remixicon</a></li>
                        <li><a href="icon-unicons.html">unicons</a></li>
                     </ul>
                  </li>
                  <li class="iq-menu-title"><i class="ri-separator"></i><span>Pages</span></li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-file-contract"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="sign-in.html">Login</a></li>
                        <li><a href="sign-up.html">Register</a></li>
                        <li><a href="pages-recoverpw.html">Recover Password</a></li>
                        <li><a href="pages-confirm-mail.html">Confirm Mail</a></li>
                        <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="las la-map-marker"></i><span>Maps</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="pages-map.html">Google Map</a></li>
                        <li><a href="#">Vector Map</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="lab la-codepen"></i><span>Extra Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="pages-timeline.html">Timeline</a></li>
                        <li><a href="pages-invoice.html">Invoice</a></li>
                        <li><a href="blank-page.html">Blank Page</a></li>
                        <li><a href="pages-error.html">Error 404</a></li>
                        <li><a href="pages-error-500.html">Error 500</a></li>
                        <li><a href="pages-pricing.html">Pricing</a></li>
                        <li><a href="pages-pricing-one.html">Pricing 1</a></li>
                        <li><a href="pages-maintenance.html">Maintenance</a></li>
                        <li><a href="pages-comingsoon.html">Coming Soon</a></li>
                        <li><a href="pages-faq.html">Faq</a></li>
                     </ul>
                  </li>
               </ul>
            </nav>
            <div class="p-3"></div>
         </div>
      </div>